<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <div class="wrapper">
        {{ partial "header.html" . }}
        <section>
            {{ block "main" . }}{{ end }}
            {{ if .Site.Params.footnote }}
                <p class="source-note">
                    {{ .Site.Params.footnote }} <a href="{{ .Site.Params.footnote_link }}" target="_blank">AcademiaLight</a>
                </p>
            {{ end }}
        </section>
    </div>
</body>
</html>