<header>
  <div class="image avatar">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.avatar }}" alt="{{ .Site.Params.author }}"/></a>
  </div>
  
  <div class="header-info">
    <h1>{{ .Site.Params.author }}</h1>
    <div class="info-item">{{ .Site.Params.position }}</div>
    <div class="info-item">
      <a href="{{ .Site.Params.affiliation_link }}" target="_blank">{{ .Site.Params.affiliation }}</a>
    </div>
    <div class="info-item email">
      {{ .Site.Params.email }}
    </div>
  </div>

  <div class="social-icons">
    {{ with .Site.Params.social.blog }}
    <a href="{{ . }}" target="_blank"><i class="fas fa-blog"></i></a>
    {{ end }}
    {{ with .Site.Params.social.googleScholar }}
    <a href="{{ . }}" target="_blank"><i class="ai ai-google-scholar"></i></a>
    {{ end }}
    {{ with .Site.Params.social.cv }}
    <a href="{{ . }}" target="_blank"><i class="ai ai-cv"></i></a>
    {{ end }}
    {{ with .Site.Params.social.github }}
    <a href="{{ . }}" target="_blank"><i class="fab fa-github"></i></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a href="{{ . }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    {{ end }}
    {{ with .Site.Params.social.x }}
    <a href="{{ . }}" target="_blank"><i class="fab fa-x-twitter"></i></a>
    {{ end }}
    {{ with .Site.Params.social.orcid }}
    <a href="{{ . }}" target="_blank"><i class="fab fa-orcid"></i></a>
    {{ end }}
    {{ with .Site.Params.social.researchgate }}
    <a href="{{ . }}" target="_blank"><i class="fab fa-researchgate"></i></a>
    {{ end }}
  </div>
</header>
