<!DOCTYPE html>
<html>
  <head>
    <title>404 Not Found</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center>
          <br />
          <h1><strong>404 Not Found</strong><br /></h1>
        </center>
      </header>
      <section>
        <br />
        <h3>This is not the web page you are looking for.</h3>
        <br />
        <h3>You'll be redirected to the homepage in 5 seconds.</h3>
        <script>
          window.setTimeout("window.location.href='/'", 5000);
        </script>
      </section>
    </div>
  </body>
</html>
